<launch>

  <!-- the ROS parameter /use_sim_time 
  triggers ROS time to use the simulation time in the 
  /clock ROS topic published by gazebo rather than 
  the system wall clock time -->
  <param name="/use_sim_time" value="true" />
  <arg name="gui" default="true"/>
	  
  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>
  
   <!--	start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>

  <!--send valve urdf to param server-->
 
  <node name="spawn_valve_1" pkg="gazebo" type="spawn_model" args="-urdf -file $(find wpi_drc_sim)/descriptions/driving_wheel_on_horizontal_pipe.urdf -x 2.0 -z 1.0 -Y 3.14159265359 -model valve_urdf_1" respawn="false" output="screen" />
  

  <!-- start pr2 robot -->
  <include file="$(find pr2_gazebo)/launch/pr2.launch"/>

</launch>